body{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}

header{
    background-color: #0d1b2a;
    color: #ffffff
}

.nav-link {
    transition: color 0.3s ease; /* transition douce */
}

.nav-link:hover {
    color: #4b97e9 !important; 
    text-decoration: underline; 
}

a:hover, .nav-link:hover, .btn-light:hover, .btn-outline-light:hover{
    color: #4796ea;
}

a:hover, .nav-link:hover, .btn-light:hover, .btn-outline-light:hover {
    color: #ffd700; /* Optionnel : couleur dorée au survol */
}