body{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    text-size-adjust: 100%;
}

header{
    background-color: #0d1b2a;
    color: #ffffff
}

.nav-link {
    transition: color 0.3s ease; /* transition douce */
}

.nav-link:hover {
    color: #4b97e9 !important; 
    text-decoration: underline; 
}

a:hover, .nav-link:hover, .btn-light:hover, .btn-outline-light:hover{
    color: #4796ea;
}

a:hover, .nav-link:hover, .btn-light:hover, .btn-outline-light:hover {
    color: #ffd700; /* Optionnel : couleur dorée au survol */
}


.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;   /* rond */
  color: white;         /* couleur de l’icône */
  font-size: 20px;
  text-decoration: none;
}

/* couleurs spécifiques par réseau */
.social-icon.facebook { background-color: #1877F2; }  /* Bleu Facebook */
.social-icon.twitter { background-color: #1DA1F2; }   /* Bleu Twitter */
.social-icon.linkedin { background-color: #0077B5; }  /* Bleu LinkedIn */
.social-icon.youtube { background-color: #FF0000; }   /* Rouge YouTube */


#rendezvous-btn {
        position: fixed;
        bottom: 20px;      
        left: 20px;       
        z-index: 1000;     
        padding: 7px 25px;
        font-size: 1.1rem;
        border-radius: 50px;
        background-color: #8dd48d; /* vert clair */
        color: #000; /* texte noir pour contraste */
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
        text-decoration: none;
    }

    #rendezvous-btn:hover {
        background-color: #76c776; /* vert clair un peu plus foncé au hover */
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    }


.carousel-inner img {
  width: 100%;
  height: 400px; /* tu peux ajuster (300px, 350px, etc.) */
  object-fit: cover; /* coupe un peu les bords mais garde un rendu uniforme */
  border-radius: 20px;
}
